* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.square {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: #3799cc;
    position: absolute;
    transform: scale(.0001);
    will-change: transform;
}

.demo-controls__wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.demo-controls__wrapper:hover .demo-controls {
    transform: translateY(0);
    transition: transform .1s ease-in-out;
}
.demo-controls {
    align-items: center;
    background-color: rgba(30, 30, 30, .2);
    display: flex;
    justify-content: center;
    padding: 15px 0;
    transition: transform .3s ease-in-out;
}
.button {
    color: #f9f9f9;
    cursor: pointer;
    background-color: #303030;
    border-radius: 0;
    border: 0;
    margin: 5px;
    min-width: 80px;
    padding: 8px 15px;
    text-align: center;
    transition: background-color .2s ease-in-out;
}
.button:active {
    background-color: darkcyan;
}
.button:focus,
.button:active {
    outline: none;
}

@media screen and (min-width: 640px) {
    .demo-controls {
        transform: translateY(-100%);
    }
}
